body {
    background: rgb(4, 19, 25);
}
.button {
    margin: 0;
    background: transparent;
    padding: 0;
    border: none;
}

/* button styling */
.button {
    --border-right: 0px;
    --text-stroke-color: rgb(0, 255, 119);
    --animation-color: #00fda9;
    --fs-size: 15em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Norwester";
    position: relative;
    text-transform: full-width;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: clip;
    transition: 0.4s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 250px var(--animation-color))
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}