/* From uiverse.io by @EmmaxPlay */
.btn {
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    left: 0;
    top: 0;
    border-radius: 10px;
    }
    
    /* glow */
    .btn::before {
        content: "";
        background: linear-gradient(45deg,
                #FF0000, #002BFF, #FF00C8, #002BFF,
                #FF0000, #002BFF, #FF00C8, #002BFF);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 600%;
        z-index: -1;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
        opacity: 0;
    }
    
    @keyframes glowing {
        0% {
            background-position: 0 0;
        }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* hover */
.btn:hover::before {
    opacity: 1;
}

.btn:active:after {
    background: transparent;
}

.btn:active {
    color: #000;
    font-weight: bold;
}

body {
    background-image: linear-gradient(130deg,
        hsl(278deg 100% 11%) 14%,
        hsl(272deg 90% 16%) 41%,
        hsl(270deg 88% 20%) 52%,
        hsl(269deg 88% 23%) 61%,
        hsl(268deg 87% 25%) 67%,
        hsl(268deg 87% 28%) 73%,
        hsl(267deg 87% 30%) 77%,
        hsl(267deg 87% 32%) 81%,
        hsl(267deg 87% 34%) 85%,
        hsl(267deg 87% 36%) 87%,
        hsl(267deg 86% 38%) 90%,
        hsl(266deg 86% 40%) 92%,
        hsl(266deg 86% 41%) 94%,
        hsl(266deg 86% 43%) 96%,
        hsl(266deg 86% 44%) 98%,
        hsl(266deg 86% 46%) 99%,
        hsl(266deg 86% 47%) 100%,
        hsl(266deg 86% 49%) 101%,
        hsl(266deg 86% 50%) 101%,
        hsl(266deg 90% 51%) 102%,
        hsl(266deg 95% 52%) 102%,
        hsl(266deg 100% 54%) 101%);
}
/* From uiverse.io by @satyamchaudharydev */
/* === removing default button style ===*/
.button {
    margin: 0;
    background: transparent;
    padding: 0;
    border: none;
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2.3em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}
